blockquote {
    color: #777777;
    border-left: 4px solid #bbbbbb;
    padding: 10px;
    margin: 10px;
    padding-left: 25px;
    /* font-size: 18px;
    letter-spacing: -1px; */
    background: #f0f0f0;
}

blockquote p{
    margin: 0px;   
}
